@import "bootstrap.min.css";
@import '../webfonts/iconly/iconly.min.css';
@import "header.css";
:root {
  --fontSize: 14px;
}

body {
  direction: rtl;
  font-size: var(--fontSize);
  font-family: dana, serif;
  color: #3e3e3e;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.btn {
  font-size: var(--fontSize);
}

em, i {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1281px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  :root {
    --fontSize: 12px;
  }
}
:root {
  --fontSize: 14px;
}

body {
  direction: rtl;
  font-size: var(--fontSize);
  font-family: dana, serif;
  color: #3e3e3e;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.btn {
  font-size: var(--fontSize);
}

em, i {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1281px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  :root {
    --fontSize: 12px;
  }
}
.breadcrumb-custom ul {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 28px;
}
.breadcrumb-custom ul li {
  padding: 10px 6px;
}
.breadcrumb-custom ul li span {
  color: rgb(159, 161, 166);
  display: flex;
  align-items: center;
}
.breadcrumb-custom ul li span:after {
  content: "\e01e";
  font-family: "Iconly" !important;
  margin-right: 8px;
  font-size: 10px;
}
.breadcrumb-custom ul li a {
  color: #3e3e3e;
}

.card-product {
  padding: 5px;
  border: 1px solid rgb(232, 234, 237);
  direction: rtl;
}
.card-product img {
  max-width: 100%;
}
.card-product .card-body {
  padding: 10px 5px;
}
.card-product .card-body p {
  display: flex;
  align-items: center;
  color: rgb(156, 156, 171) !important;
  padding: 5px 0;
  font-size: 12px;
}
.card-product .card-body p i {
  font-size: 16px;
  color: rgb(126, 128, 133);
}
.card-product .card-body span.city {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.card-product .card-body span.city i {
  margin-left: 5px;
  font-size: 14px;
  color: rgb(55, 205, 250);
}
.card-product .card-body .star-span {
  display: flex;
  align-items: center;
  direction: ltr;
  font-size: 12px;
  color: rgb(64, 65, 69);
}
.card-product .card-body .star-span i {
  color: rgb(254, 188, 0);
  margin-right: 5px;
  font-size: var(--fontSize);
}
.card-product .price {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.card-product .price span {
  text-align: left;
  font-size: 12px;
  color: rgb(152, 153, 154);
}
.card-product .price span em {
  font-weight: 400;
  color: rgb(156, 156, 171);
}
.card-product .price .price-main {
  font-size: var(--fontSize);
  color: rgb(12, 13, 13);
  padding-top: 5px;
}
.card-product .price .price-main em {
  font-weight: 400;
  color: rgb(156, 156, 171);
}
.card-product .price .precent {
  background: rgb(242, 85, 85);
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
}

.check-box label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.check-box label:before {
  content: "";
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid rgb(217, 218, 219);
}
.check-box label:after {
  content: "\e044";
  font-family: Iconly;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #b99550;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all ease 0.4s;
}
.check-box input {
  display: none;
}
.check-box input:checked + label:after {
  transform: scale(1);
}

.dark-bg {
  backdrop-filter: blur(8px);
  background: rgba(26, 32, 44, 0.36);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

.modal-responsive {
  display: none;
}

.icon-filter {
  display: none;
}

@media (max-width: 767px) {
  .icon-filter {
    display: inline-block;
  }
  .modal-responsive {
    display: block;
  }
  .breadcrumb-custom ul {
    margin: 10px 0;
  }
  body {
    overflow-x: hidden;
  }
  .card-product .card-body {
    padding: 10px 5px;
  }
  .card-product .card-body p {
    font-size: 10px;
  }
  .card-product .card-body .card-title {
    font-size: 12px;
  }
  .filter-responsive {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }
  .filter-responsive span {
    margin-right: auto;
    font-size: 12px;
    color: rgb(159, 161, 166);
  }
  .filter-responsive button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 24px;
  }
  .filter-responsive button i {
    font-size: 15px;
    margin-left: 8px;
  }
  .modal-responsive {
    display: block;
    position: fixed;
    bottom: -120%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 4;
    transition: all ease 0.2s;
    height: 100%;
    border-radius: 16px 16px 0 0;
    max-height: calc(100vh - 90px);
    overflow: auto;
  }
  .modal-responsive.height-content {
    height: max-content;
    padding-bottom: 2rem;
  }
  .modal-responsive.active {
    bottom: 90px;
  }
  .modal-responsive .title {
    display: flex;
    align-items: center;
    padding: 24px 16px;
  }
  .modal-responsive .title span {
    font-size: 16px;
    color: rgb(20, 21, 24);
    margin-left: auto;
  }
  .modal-responsive .title .icon-cancel {
    width: 30px;
    color: rgb(37, 49, 76);
    text-align: left;
    cursor: pointer;
    font-size: 14px;
  }
  .modal-responsive ul {
    padding: 0 16px;
  }
  .modal-responsive ul li button {
    background: transparent;
    padding: 16px 0;
    width: 100%;
    border: none;
    text-align: right;
    font-size: 14px;
    color: rgb(96, 98, 102);
  }
  .modal-responsive .list-menu {
    max-height: calc(100vh - 183px);
    overflow: auto;
  }
  .modal-responsive .list-menu li {
    padding: 20px 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(232, 234, 237);
  }
  .modal-responsive .list-menu li:last-child {
    border-bottom: none;
  }
  .modal-responsive .list-menu li span {
    font-size: 14px;
    color: rgb(20, 21, 24);
  }
  .modal-responsive .list-menu li i {
    margin-right: auto;
    font-size: 10px;
  }
  .modal-responsive .title-cat {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .modal-responsive .title-cat span {
    font-size: 16px;
    color: rgb(20, 21, 24);
    margin-left: auto;
  }
  .modal-responsive .title-cat i {
    cursor: pointer;
    font-size: 14px;
  }
  .modal-responsive .title-cat .icon-cancel {
    width: 30px;
    color: red;
    font-size: 20px;
    text-align: left;
  }
  .modal-responsive .title-cat .input-search {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 30px);
    background: rgb(248, 249, 250);
    height: 48px;
    border-radius: 8px;
  }
  .modal-responsive .title-cat .input-search i {
    font-size: 19px;
    margin-right: 10px;
  }
  .modal-responsive .title-cat .input-search input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    background: transparent;
    color: rgb(186, 189, 194);
  }
  .modal-responsive .list-category {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 170px);
    overflow: auto;
    overflow-x: hidden;
  }
  .modal-responsive .list-category .right-cat {
    width: 100px;
    background: #f8f9fa;
  }
  .modal-responsive .list-category .right-cat .category-item {
    width: 100%;
    padding: 10px 0;
    color: rgb(17, 32, 90);
    text-align: center;
    border: 1px solid rgb(232, 234, 237);
  }
  .modal-responsive .list-category .right-cat .category-item.active {
    background: rgb(255, 255, 255);
    color: rgb(22, 123, 255);
    border-left: none;
  }
  .modal-responsive .list-category .right-cat .category-item i {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .modal-responsive .list-category .right-cat .category-item span {
    display: block;
    text-align: center;
  }
  .modal-responsive .list-category .left-cat {
    background: #fff;
    width: calc(100% - 100px);
    height: 100%;
    padding: 10px;
  }
  .modal-responsive .list-category .left-cat .item-cat {
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
  }
  .modal-responsive .list-category .left-cat .item-cat .img {
    background: rgb(248, 249, 250);
    padding: 5px;
    width: 76px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-responsive .list-category .left-cat .item-cat .img img, .modal-responsive .list-category .left-cat .item-cat .img i {
    font-size: 35px;
    width: 100%;
    object-fit: cover;
    color: #25314c;
  }
  .modal-responsive .list-category .left-cat .item-cat span {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 10px;
    margin-top: 5px;
  }
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Bold.eot");
  src: url("../fonts/Dana/Dana-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Bold.woff2") format("woff2"), url("../fonts/Dana/Dana-Bold.woff") format("woff"), url("../fonts/Dana/Dana-Bold.ttf") format("truetype"), url("../fonts/Dana/Dana-Bold.svg#YDana-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Regular.eot");
  src: url("../fonts/Dana/Dana-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Regular.woff2") format("woff2"), url("../fonts/Dana/Dana-Regular.woff") format("woff"), url("../fonts/Dana/Dana-Regular.ttf") format("truetype"), url("../fonts/Dana/Dana-Regular.svg#Dana-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Light.ttf");
  src: url("../fonts/Dana/Dana-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Light.woff2") format("woff2"), url("../fonts/Dana/Dana-Light.woff") format("woff"), url("../fonts/Dana/Dana-Light.ttf") format("truetype"), url("../fonts/Dana/Dana-Light.svg#Dana-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.footer {
  background: rgb(248, 249, 250);
  padding: 10px 0 2rem;
}
.footer .top-footer {
  padding: 3rem 0;
}
.footer .top-footer .box-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
}
.footer .top-footer .box-footer img {
  margin-left: 5px;
  max-width: 46px;
}
.footer .top-footer .box-footer h4 {
  font-size: 16px;
  font-weight: 900;
}
.footer .top-footer .box-footer span {
  font-size: var(--fontSize);
  color: rgb(96, 98, 102);
}
.footer .menu-foo {
  padding: 10px 0;
}
.footer .menu-foo img {
  margin-left: 15px;
}
.footer .menu-foo h5 {
  font-size: 18px;
  color: #3e3e3e;
  font-weight: bold;
}
.footer .menu-foo h5 i {
  display: none;
}
.footer .menu-foo ul a {
  padding: 8px 0;
  color: rgb(113, 113, 132);
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}
.footer .menu-footer-text {
  width: calc(12.5% - 10px);
  background: #fff;
  padding: 13px 7px;
  border-radius: 12px;
  text-align: center;
  margin: 10px 0 10px 10px;
}
.footer .menu-footer-text span, .footer .menu-footer-text a {
  color: #3e3e3e;
  font-size: 13px;
}
.footer .copy-right {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}
.footer .copy-right span {
  font-size: var(--fontSize);
  color: rgb(113, 113, 132);
}
.footer .copy-right .social {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.footer .copy-right .social h6 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: var(--fontSize);
}
.footer .copy-right .social a {
  font-size: 16px;
  color: #3e3e3e;
  display: inline-block;
  margin-right: 15px;
}

.bottom-menu {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: 90px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  display: none;
  align-items: center;
  z-index: 4;
}
.bottom-menu a, .bottom-menu button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(186, 189, 194);
  width: 25%;
  background: transparent;
  border: none;
}
.bottom-menu a span, .bottom-menu button span {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.bottom-menu a i, .bottom-menu button i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bottom-menu a.active, .bottom-menu button.active {
  color: rgb(17, 32, 90);
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 4rem;
  }
  .footer .top-footer {
    order: 1;
  }
  .footer .top-footer .box-footer {
    margin: 10px 0;
    width: 50%;
    padding: 5px;
  }
  .footer .menu1 {
    order: 2;
  }
  .footer .copy-right {
    order: 3;
    flex-wrap: wrap;
  }
  .footer .copy-right .social {
    width: 100%;
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .copy-right .social h6 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer .copy-right span {
    order: 2;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .footer .tags {
    order: 4;
    margin: 0;
    max-height: 163px;
    overflow: hidden;
    position: relative;
  }
  .footer .tags .menu-footer-text {
    width: calc(25% - 10px);
  }
  .footer .tags .menu-footer-text span {
    font-size: 10px;
  }
  .footer .tags .div-more {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 249, 250, 0) -110.14%, #F8F9FA 100%);
    align-items: flex-end;
  }
  .footer .tags .div-more button {
    color: rgb(15, 148, 242);
  }
  .footer .tags.expand {
    max-height: none;
  }
  .footer .tags.expand .div-more {
    display: none;
  }
  .footer .menu-foo {
    padding: 10px 25px;
  }
  .footer .menu-foo h5 {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .footer .menu-foo h5 i {
    margin-right: auto;
    display: inline-block;
  }
  .bottom-menu {
    display: flex;
  }
}
.manufacturers-main {
  padding-bottom: 120px;
}
.manufacturers-main .top-search {
  width: 100%;
  height: 136px;
  background: url("../images/bg1.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
.manufacturers-main .top-search .input {
  height: 48px;
  max-width: 536px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
}
.manufacturers-main .top-search .input i {
  position: absolute;
  right: 16px;
  font-size: 20px;
}
.manufacturers-main .top-search .input input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 40px 10px 10px;
  background: transparent;
  color: rgb(186, 189, 194);
}
.manufacturers-main .top-search .input input:focus {
  color: #333;
}
.manufacturers-main .head-top {
  display: flex;
  align-items: center;
  padding: 42px 0 29px;
}
.manufacturers-main .head-top span {
  font-size: 12px;
  color: rgb(20, 21, 24);
  font-weight: 700;
  display: flex;
  align-items: center;
}
.manufacturers-main .head-top span i {
  font-size: 20px;
  margin-left: 10px;
}
.manufacturers-main .head-top button {
  margin: 0 8px;
  background: transparent;
  border: none;
  color: rgb(96, 98, 102);
  font-size: 12px;
  padding: 10px;
}
.manufacturers-main .head-top button.active {
  background: rgb(17, 32, 90);
  border-radius: 8px;
  color: #fff;
}
.manufacturers-main .head-top .count {
  margin-right: auto;
  font-size: 12px;
  color: rgb(159, 161, 166);
}
.manufacturers-main .box-manufacturer {
  position: relative;
  margin: 10px 0;
}
.manufacturers-main .box-manufacturer .img {
  position: relative;
  width: 100%;
  height: 261px;
}
.manufacturers-main .box-manufacturer .img:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.11%, rgba(0, 0, 0, 0.494) 52.33%, rgba(0, 0, 0, 0.855) 82.17%, rgba(0, 0, 0, 0.95) 100%);
  border-radius: 12px;
}
.manufacturers-main .box-manufacturer .img img {
  width: 100%;
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
}
.manufacturers-main .box-manufacturer .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.manufacturers-main .box-manufacturer .text .top-profile {
  display: flex;
  align-items: center;
  padding: 10px 12px;
}
.manufacturers-main .box-manufacturer .text .top-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.manufacturers-main .box-manufacturer .text .top-profile .txt-profile {
  width: calc(100% - 40px);
  padding-right: 12px;
}
.manufacturers-main .box-manufacturer .text .top-profile .txt-profile h4 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3px;
}
.manufacturers-main .box-manufacturer .text .top-profile .txt-profile h4 i {
  color: rgb(93, 210, 109);
}
.manufacturers-main .box-manufacturer .text .top-profile .txt-profile > div {
  display: flex;
  align-items: center;
}
.manufacturers-main .box-manufacturer .text .top-profile .txt-profile > div span {
  color: rgb(232, 234, 237);
  font-size: 12px;
}
.manufacturers-main .box-manufacturer .text .top-profile .txt-profile > div .star-1 {
  display: flex;
  margin-left: 5px;
  align-items: center;
  color: #fff;
  font-size: 12px;
}
.manufacturers-main .box-manufacturer .text .top-profile .txt-profile > div .star-1 i {
  color: rgb(254, 188, 0);
  margin-right: 4px;
}
.manufacturers-main .box-manufacturer .text .bottom-address {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px 12px 12px;
}
.manufacturers-main .box-manufacturer .text .bottom-address button {
  width: 91px;
  height: 40px;
  background: rgb(185, 149, 80);
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 12px;
}
.manufacturers-main .box-manufacturer .text .bottom-address > div {
  width: calc(100% - 91px);
  font-size: 12px;
}
.manufacturers-main .box-manufacturer .text .bottom-address > div a {
  color: #fff;
}
.manufacturers-main .box-manufacturer .text .bottom-address > div a i {
  color: rgb(138, 232, 150);
  margin-left: 7px;
}
.manufacturers-main .box-manufacturer .text .bottom-address > div span {
  width: 100%;
  display: block;
  color: #fff;
  margin-bottom: 6px;
}
.manufacturers-main .box-manufacturer .text .bottom-address > div span i {
  color: rgb(55, 205, 250);
  margin-left: 7px;
}

.filters-section {
  width: 100%;
  border: 1px solid rgb(213, 215, 219);
  border-radius: 12px;
  margin-top: 42px;
  padding: 16px;
  display: block;
}
.filters-section .titr {
  display: flex;
  align-items: center;
}
.filters-section .titr h5 {
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
  color: rgb(20, 21, 24);
}
.filters-section .titr button {
  background: transparent;
  font-size: 16px;
  color: rgb(242, 50, 63);
  border: none;
}
.filters-section .titr button i {
  margin-left: 5px;
}
.filters-section .acc-filter {
  border-bottom: 1px solid rgb(186, 189, 194);
  padding-bottom: 10px;
}
.filters-section .acc-filter:last-child {
  border-bottom: none;
}
.filters-section .acc-filter .head {
  display: flex;
  align-items: center;
  padding: 24px 0 10px;
  cursor: pointer;
}
.filters-section .acc-filter .head i {
  font-size: 10px;
  transition: all ease 0.2s;
}
.filters-section .acc-filter .head h5 {
  margin-left: auto;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
}
.filters-section .acc-filter .head h5 em {
  margin-right: 8px;
  color: rgb(126, 128, 133);
  font-weight: 100;
}
.filters-section .acc-filter.closed {
  border-bottom: none;
}
.filters-section .acc-filter.closed .head i {
  transform: rotate(180deg);
}
.filters-section .acc-filter.closed .body {
  display: none;
}

.slider-range .slider-container {
  width: 100%;
  margin: 24px auto 16px;
  direction: rtl;
  font-family: Arial, sans-serif;
  position: relative;
}
.slider-range .slider-rail {
  width: 100%;
  height: 5px;
  background: rgb(217, 218, 219);
  position: relative;
  border-radius: 2.5px;
  display: flex;
  align-items: center;
}
.slider-range .slider-progress {
  height: 100%;
  background: rgb(26, 183, 89);
  position: absolute;
  border-radius: 4px;
  top: 0;
}
.slider-range .slider-handle {
  width: 15px;
  height: 15px;
  background: rgb(26, 183, 89);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.slider-range .range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}
.slider-range .range-values span {
  font-weight: bold;
  color: #0a75d8;
}

.inputs {
  display: flex;
  align-items: center;
}
.inputs .input {
  width: 50%;
  padding: 5px;
}
.inputs .input label {
  width: 100%;
  padding: 5px;
  color: rgb(96, 98, 102);
}
.inputs .input input {
  width: 100%;
  background: rgb(248, 249, 250);
  height: 30px;
  text-align: center;
  border-radius: 8px;
  border: none;
  font-family: dana, serif;
}
.inputs .input:last-child label {
  text-align: left;
}

.main-search-products .head {
  display: flex;
  align-items: center;
  padding: 22px 0 12px;
}
.main-search-products .head span {
  font-size: 12px;
  color: rgb(20, 21, 24);
  font-weight: 700;
  display: flex;
  align-items: center;
}
.main-search-products .head span i {
  font-size: 20px;
  margin-left: 10px;
}
.main-search-products .head button {
  margin: 0 8px;
  background: transparent;
  border: none;
  color: rgb(96, 98, 102);
  font-size: 12px;
  padding: 10px;
}
.main-search-products .head button.active {
  background: rgb(17, 32, 90);
  border-radius: 8px;
  color: #fff;
}
.main-search-products .head .count {
  margin-right: auto;
  font-size: 12px;
  color: rgb(159, 161, 166);
}
.main-search-products .card-product {
  margin: 10px 0;
}

.check-box label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.check-box label:before {
  content: "";
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid rgb(217, 218, 219);
}
.check-box label:after {
  content: "\e044";
  font-family: Iconly;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #b99550;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all ease 0.4s;
}
.check-box input {
  display: none;
}
.check-box input:checked + label:after {
  transform: scale(1);
}

.check-boxes li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.profile-production {
  background: rgb(248, 249, 250);
  border-radius: 16px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}
.profile-production .top-profile {
  display: flex;
  align-items: center;
  padding: 10px 12px;
}
.profile-production .top-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-production .top-profile .txt-profile {
  width: calc(100% - 40px);
  padding-right: 12px;
}
.profile-production .top-profile .txt-profile h4 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(20, 21, 24);
  margin-bottom: 3px;
}
.profile-production .top-profile .txt-profile h4 i {
  color: rgb(93, 210, 109);
}
.profile-production .top-profile .txt-profile > div {
  display: flex;
  align-items: center;
}
.profile-production .top-profile .txt-profile > div span {
  color: rgb(126, 128, 133);
  font-size: 14px;
}
.profile-production .top-profile .txt-profile > div .star-1 {
  display: flex;
  margin-left: 5px;
  align-items: center;
  color: rgb(126, 128, 133);
  font-size: 14px;
}
.profile-production .top-profile .txt-profile > div .star-1 i {
  color: rgb(254, 188, 0);
  margin-right: 4px;
}
.profile-production .bottom-address span {
  display: flex;
  width: 100%;
  padding: 8px 12px;
}
.profile-production .bottom-address span i {
  margin-left: 5px;
  font-size: 17px;
  color: rgb(12, 153, 235);
}
.profile-production .images {
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 5px;
  justify-content: left;
}
.profile-production .images img {
  max-width: 100%;
  margin: 0 9px;
}

@media (max-width: 767px) {
  header {
    padding-bottom: 0;
  }
  .main-search-products .head {
    display: none;
  }
  .filters-section .titr {
    flex-wrap: wrap;
  }
  .filters-section .titr span {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: rgb(159, 161, 166);
    margin-top: 6px;
  }
  .filters-section .titr h5 {
    margin-bottom: 0;
    font-size: 14px;
  }
  .filters-section .titr h5 i {
    margin-left: 5px;
    font-size: 16px;
  }
  .filters-section .titr .icon-cancel {
    display: block;
    color: #222;
  }
  .filters-section .filtered-responsive {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 4px;
  }
  .filters-section .filtered-responsive h5 {
    margin-bottom: 0;
    color: rgb(126, 128, 133);
    font-size: 12px;
  }
  .filters-section .filtered-responsive button {
    background: transparent;
    font-size: 12px;
    color: rgb(242, 50, 63);
    border: none;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .filters-section .filtered-responsive button i {
    margin-left: 5px;
    font-size: 16px;
  }
  .filters-section .filtered-responsive .filter-cheep {
    background: rgb(84, 101, 139);
    color: #fff;
    border-radius: 4px;
    padding: 6px;
    display: inline-flex;
    width: max-content;
    margin-top: 16px;
    margin-left: 5px;
  }
  .filters-section .filtered-responsive .filter-cheep i {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-left: 6px;
    cursor: pointer;
  }
  .top-search {
    height: 112px;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    background-position: center;
  }
  .manufacturers-main .box-manufacturer .img {
    height: 211px;
  }
  .profile-production {
    flex-wrap: wrap;
  }
  .profile-production .top-profile .txt-profile h4 {
    font-size: 14px;
  }
  .profile-production .top-profile .txt-profile > div .star-1, .profile-production .top-profile .txt-profile > div span {
    font-size: 12px;
  }
  .profile-production .text {
    width: 100%;
  }
  .profile-production .images {
    width: 100%;
    margin-top: 12px;
  }
  .profile-production .images img {
    width: 50%;
  }
}

/*# sourceMappingURL=manufacturers.css.map */
