@import "bootstrap.min.css";
@import '../webfonts/iconly/iconly.min.css';
@import "header.css";
:root {
  --fontSize: 14px;
}

body {
  direction: rtl;
  font-size: var(--fontSize);
  font-family: dana, serif;
  color: #3e3e3e;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.btn {
  font-size: var(--fontSize);
}

em, i {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1281px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  :root {
    --fontSize: 12px;
  }
}
:root {
  --fontSize: 14px;
}

body {
  direction: rtl;
  font-size: var(--fontSize);
  font-family: dana, serif;
  color: #3e3e3e;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.btn {
  font-size: var(--fontSize);
}

em, i {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1281px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  :root {
    --fontSize: 12px;
  }
}
.breadcrumb-custom ul {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 28px;
}
.breadcrumb-custom ul li {
  padding: 10px 6px;
}
.breadcrumb-custom ul li span {
  color: rgb(159, 161, 166);
  display: flex;
  align-items: center;
}
.breadcrumb-custom ul li span:after {
  content: "\e01e";
  font-family: "Iconly" !important;
  margin-right: 8px;
  font-size: 10px;
}
.breadcrumb-custom ul li a {
  color: #3e3e3e;
}

.card-product {
  padding: 5px;
  border: 1px solid rgb(232, 234, 237);
  direction: rtl;
}
.card-product img {
  max-width: 100%;
}
.card-product .card-body {
  padding: 10px 5px;
}
.card-product .card-body p {
  display: flex;
  align-items: center;
  color: rgb(156, 156, 171) !important;
  padding: 5px 0;
  font-size: 12px;
}
.card-product .card-body p i {
  font-size: 16px;
  color: rgb(126, 128, 133);
}
.card-product .card-body span.city {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.card-product .card-body span.city i {
  margin-left: 5px;
  font-size: 14px;
  color: rgb(55, 205, 250);
}
.card-product .card-body .star-span {
  display: flex;
  align-items: center;
  direction: ltr;
  font-size: 12px;
  color: rgb(64, 65, 69);
}
.card-product .card-body .star-span i {
  color: rgb(254, 188, 0);
  margin-right: 5px;
  font-size: var(--fontSize);
}
.card-product .price {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.card-product .price span {
  text-align: left;
  font-size: 12px;
  color: rgb(152, 153, 154);
}
.card-product .price span em {
  font-weight: 400;
  color: rgb(156, 156, 171);
}
.card-product .price .price-main {
  font-size: var(--fontSize);
  color: rgb(12, 13, 13);
  padding-top: 5px;
}
.card-product .price .price-main em {
  font-weight: 400;
  color: rgb(156, 156, 171);
}
.card-product .price .precent {
  background: rgb(242, 85, 85);
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
}

.check-box label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.check-box label:before {
  content: "";
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid rgb(217, 218, 219);
}
.check-box label:after {
  content: "\e044";
  font-family: Iconly;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #b99550;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all ease 0.4s;
}
.check-box input {
  display: none;
}
.check-box input:checked + label:after {
  transform: scale(1);
}

.dark-bg {
  backdrop-filter: blur(8px);
  background: rgba(26, 32, 44, 0.36);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

.modal-responsive {
  display: none;
}

.icon-filter {
  display: none;
}

@media (max-width: 767px) {
  .icon-filter {
    display: inline-block;
  }
  .modal-responsive {
    display: block;
  }
  .breadcrumb-custom ul {
    margin: 10px 0;
  }
  body {
    overflow-x: hidden;
  }
  .card-product .card-body {
    padding: 10px 5px;
  }
  .card-product .card-body p {
    font-size: 10px;
  }
  .card-product .card-body .card-title {
    font-size: 12px;
  }
  .filter-responsive {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }
  .filter-responsive span {
    margin-right: auto;
    font-size: 12px;
    color: rgb(159, 161, 166);
  }
  .filter-responsive button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 24px;
  }
  .filter-responsive button i {
    font-size: 15px;
    margin-left: 8px;
  }
  .modal-responsive {
    display: block;
    position: fixed;
    bottom: -120%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 4;
    transition: all ease 0.2s;
    height: 100%;
    border-radius: 16px 16px 0 0;
    max-height: calc(100vh - 90px);
    overflow: auto;
  }
  .modal-responsive.height-content {
    height: max-content;
    padding-bottom: 2rem;
  }
  .modal-responsive.active {
    bottom: 90px;
  }
  .modal-responsive .title {
    display: flex;
    align-items: center;
    padding: 24px 16px;
  }
  .modal-responsive .title span {
    font-size: 16px;
    color: rgb(20, 21, 24);
    margin-left: auto;
  }
  .modal-responsive .title .icon-cancel {
    width: 30px;
    color: rgb(37, 49, 76);
    text-align: left;
    cursor: pointer;
    font-size: 14px;
  }
  .modal-responsive ul {
    padding: 0 16px;
  }
  .modal-responsive ul li button {
    background: transparent;
    padding: 16px 0;
    width: 100%;
    border: none;
    text-align: right;
    font-size: 14px;
    color: rgb(96, 98, 102);
  }
  .modal-responsive .list-menu {
    max-height: calc(100vh - 183px);
    overflow: auto;
  }
  .modal-responsive .list-menu li {
    padding: 20px 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(232, 234, 237);
  }
  .modal-responsive .list-menu li:last-child {
    border-bottom: none;
  }
  .modal-responsive .list-menu li span {
    font-size: 14px;
    color: rgb(20, 21, 24);
  }
  .modal-responsive .list-menu li i {
    margin-right: auto;
    font-size: 10px;
  }
  .modal-responsive .title-cat {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .modal-responsive .title-cat span {
    font-size: 16px;
    color: rgb(20, 21, 24);
    margin-left: auto;
  }
  .modal-responsive .title-cat i {
    cursor: pointer;
    font-size: 14px;
  }
  .modal-responsive .title-cat .icon-cancel {
    width: 30px;
    color: red;
    font-size: 20px;
    text-align: left;
  }
  .modal-responsive .title-cat .input-search {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 30px);
    background: rgb(248, 249, 250);
    height: 48px;
    border-radius: 8px;
  }
  .modal-responsive .title-cat .input-search i {
    font-size: 19px;
    margin-right: 10px;
  }
  .modal-responsive .title-cat .input-search input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    background: transparent;
    color: rgb(186, 189, 194);
  }
  .modal-responsive .list-category {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 170px);
    overflow: auto;
    overflow-x: hidden;
  }
  .modal-responsive .list-category .right-cat {
    width: 100px;
    background: #f8f9fa;
  }
  .modal-responsive .list-category .right-cat .category-item {
    width: 100%;
    padding: 10px 0;
    color: rgb(17, 32, 90);
    text-align: center;
    border: 1px solid rgb(232, 234, 237);
  }
  .modal-responsive .list-category .right-cat .category-item.active {
    background: rgb(255, 255, 255);
    color: rgb(22, 123, 255);
    border-left: none;
  }
  .modal-responsive .list-category .right-cat .category-item i {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .modal-responsive .list-category .right-cat .category-item span {
    display: block;
    text-align: center;
  }
  .modal-responsive .list-category .left-cat {
    background: #fff;
    width: calc(100% - 100px);
    height: 100%;
    padding: 10px;
  }
  .modal-responsive .list-category .left-cat .item-cat {
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
  }
  .modal-responsive .list-category .left-cat .item-cat .img {
    background: rgb(248, 249, 250);
    padding: 5px;
    width: 76px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-responsive .list-category .left-cat .item-cat .img img, .modal-responsive .list-category .left-cat .item-cat .img i {
    font-size: 35px;
    width: 100%;
    object-fit: cover;
    color: #25314c;
  }
  .modal-responsive .list-category .left-cat .item-cat span {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 10px;
    margin-top: 5px;
  }
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Bold.eot");
  src: url("../fonts/Dana/Dana-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Bold.woff2") format("woff2"), url("../fonts/Dana/Dana-Bold.woff") format("woff"), url("../fonts/Dana/Dana-Bold.ttf") format("truetype"), url("../fonts/Dana/Dana-Bold.svg#YDana-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Regular.eot");
  src: url("../fonts/Dana/Dana-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Regular.woff2") format("woff2"), url("../fonts/Dana/Dana-Regular.woff") format("woff"), url("../fonts/Dana/Dana-Regular.ttf") format("truetype"), url("../fonts/Dana/Dana-Regular.svg#Dana-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Light.ttf");
  src: url("../fonts/Dana/Dana-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Light.woff2") format("woff2"), url("../fonts/Dana/Dana-Light.woff") format("woff"), url("../fonts/Dana/Dana-Light.ttf") format("truetype"), url("../fonts/Dana/Dana-Light.svg#Dana-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.footer {
  background: rgb(248, 249, 250);
  padding: 10px 0 2rem;
}
.footer .top-footer {
  padding: 3rem 0;
}
.footer .top-footer .box-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
}
.footer .top-footer .box-footer img {
  margin-left: 5px;
  max-width: 46px;
}
.footer .top-footer .box-footer h4 {
  font-size: 16px;
  font-weight: 900;
}
.footer .top-footer .box-footer span {
  font-size: var(--fontSize);
  color: rgb(96, 98, 102);
}
.footer .menu-foo {
  padding: 10px 0;
}
.footer .menu-foo img {
  margin-left: 15px;
}
.footer .menu-foo h5 {
  font-size: 18px;
  color: #3e3e3e;
  font-weight: bold;
}
.footer .menu-foo h5 i {
  display: none;
}
.footer .menu-foo ul a {
  padding: 8px 0;
  color: rgb(113, 113, 132);
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}
.footer .menu-footer-text {
  width: calc(12.5% - 10px);
  background: #fff;
  padding: 13px 7px;
  border-radius: 12px;
  text-align: center;
  margin: 10px 0 10px 10px;
}
.footer .menu-footer-text span {
  font-size: 13px;
}
.footer .copy-right {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}
.footer .copy-right span {
  font-size: var(--fontSize);
  color: rgb(113, 113, 132);
}
.footer .copy-right .social {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.footer .copy-right .social h6 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: var(--fontSize);
}
.footer .copy-right .social a {
  font-size: 16px;
  color: #3e3e3e;
  display: inline-block;
  margin-right: 15px;
}

.bottom-menu {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: 90px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  display: none;
  align-items: center;
  z-index: 4;
}
.bottom-menu a, .bottom-menu button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(186, 189, 194);
  width: 25%;
  background: transparent;
  border: none;
}
.bottom-menu a span, .bottom-menu button span {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.bottom-menu a i, .bottom-menu button i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bottom-menu a.active, .bottom-menu button.active {
  color: rgb(17, 32, 90);
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 4rem;
  }
  .footer .top-footer {
    order: 1;
  }
  .footer .top-footer .box-footer {
    margin: 10px 0;
    width: 50%;
    padding: 5px;
  }
  .footer .menu1 {
    order: 2;
  }
  .footer .copy-right {
    order: 3;
    flex-wrap: wrap;
  }
  .footer .copy-right .social {
    width: 100%;
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .copy-right .social h6 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer .copy-right span {
    order: 2;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .footer .tags {
    order: 4;
    margin: 0;
    max-height: 163px;
    overflow: hidden;
    position: relative;
  }
  .footer .tags .menu-footer-text {
    width: calc(25% - 10px);
  }
  .footer .tags .menu-footer-text span {
    font-size: 10px;
  }
  .footer .tags .div-more {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 249, 250, 0) -110.14%, #F8F9FA 100%);
    align-items: flex-end;
  }
  .footer .tags .div-more button {
    color: rgb(15, 148, 242);
  }
  .footer .tags.expand {
    max-height: none;
  }
  .footer .tags.expand .div-more {
    display: none;
  }
  .footer .menu-foo {
    padding: 10px 25px;
  }
  .footer .menu-foo h5 {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .footer .menu-foo h5 i {
    margin-right: auto;
    display: inline-block;
  }
  .bottom-menu {
    display: flex;
  }
}
[class=icon], [class^=icon-], [class*=" icon-"] {
  font-size: 20px;
}

.product {
  padding: 2rem 0 0;
}

.title {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.title h2 {
  font-size: 27px;
  color: rgb(17, 32, 90);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.title h2 i {
  font-size: 29px;
  color: rgb(185, 149, 80);
  margin-left: 10px;
}
.title .btn-all {
  margin-right: auto;
  padding: 10px 15px;
  border: 1px solid rgb(44, 45, 48);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.title .btn-all i {
  margin-right: 10px;
}

.images-section {
  padding: 10px;
  width: 100%;
}
.images-section .image {
  width: 100%;
}
.images-section .image img {
  width: 100%;
  max-height: 489px;
  border-radius: 16px;
}
.images-section .owl-product-slider.owl-loaded {
  position: relative;
  display: flex !important;
  align-items: center;
  padding: 15px 0;
}
.images-section .owl-product-slider.owl-loaded .owl-nav {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 45px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images-section .owl-product-slider.owl-loaded .owl-nav button:hover {
  background: transparent;
  color: #555;
}
.images-section .owl-product-slider.owl-loaded .owl-nav button.owl-prev {
  display: none;
}
.images-section .owl-product-slider.owl-loaded .owl-nav button.owl-next {
  left: 10px;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images-section .owl-product-slider.owl-loaded .owl-nav button.owl-next:before {
  content: "\e011";
  font-family: "Iconly";
  font-weight: 100;
  font-size: 18px;
}
.images-section .owl-product-slider.owl-loaded .owl-nav button.owl-next span {
  display: none;
}
.images-section .image-item {
  padding: 0;
  cursor: pointer;
}
.images-section .btns-fav-share {
  display: flex;
  align-items: center;
}
.images-section .btns-fav-share button {
  background: rgb(248, 249, 250);
  border-radius: 8px;
  padding: 10px;
  border: none;
  margin-left: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.images-section .btns-fav-share button i {
  margin-left: 5px;
}
.images-section .tags {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}
.images-section .tags span {
  padding-top: 5px;
}
.images-section .tags .tags-boxes {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.images-section .tags .tags-boxes .tags-box {
  background: rgb(248, 249, 250);
  color: rgb(126, 128, 133);
  margin: 0 8px 8px 0;
  padding: 10px;
  border-radius: 4px;
}

.product-info .tag {
  border-radius: 8px;
  padding: 10px;
  background: rgb(248, 249, 250);
  display: inline-block;
  color: rgb(96, 98, 102);
}
.product-info .product-title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}
.product-info .star-box {
  display: flex;
  align-items: center;
}
.product-info .star-box .star-1 {
  display: flex;
  margin-left: 5px;
}
.product-info .star-box .star-1 i {
  color: rgb(254, 188, 0);
  margin-right: 4px;
}
.product-info .star-box .comments-count {
  background: rgb(243, 250, 252);
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  color: rgb(17, 32, 90);
  margin-right: 15px;
}
.product-info .box-time {
  padding: 10px;
  border-radius: 12px;
  background: rgb(243, 250, 252);
  display: inline-block;
  margin: 1.5rem 0;
}
.product-info .box-time > div {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.product-info .box-time > div i {
  margin-left: 5px;
  font-size: 24px;
  color: rgb(17, 32, 90);
}
.product-info .box-time > div span {
  color: rgb(96, 98, 102);
}
.product-info .box-time > div span em {
  color: rgb(0, 0, 0);
}
.product-info .info h6 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.product-info .info .info-ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.product-info .info .info-ul li:nth-child(n+8) {
  display: none;
}
.product-info .info .info-ul li i {
  margin-left: 5px;
  font-size: 24px;
  color: rgb(50, 50, 50);
}
.product-info .info .info-ul li span {
  color: #3e3e3e;
}
.product-info .info .info-ul li span em {
  color: rgb(96, 98, 102);
}
.product-info .info .info-ul.expand li:nth-child(n+8) {
  display: flex;
}
.product-info .info button {
  color: rgb(15, 148, 242);
  display: flex;
  align-items: center;
  font-weight: 400;
}
.product-info .info button i {
  margin-right: 10px;
  font-size: 10px;
}
.product-info .select-section {
  display: flex;
  flex-wrap: wrap;
}
.product-info .select-section h6 {
  width: 100%;
  font-size: 14px;
  color: #3e3e3e;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-info .select-section .select-box {
  padding: 5px;
}
.product-info .select-section .select-box input {
  display: none;
}
.product-info .select-section .select-box label {
  border: 1px solid rgb(234, 234, 235);
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  transition: all ease 0.2s;
}
.product-info .select-section .select-box label:before {
  content: "";
  width: 22px;
  height: 22px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #3e3e3e;
  margin-left: 8px;
  transition: all ease 0.2s;
}
.product-info .select-section .select-box label:after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: rgb(61, 186, 78);
  margin-left: 8px;
  position: absolute;
  right: 13px;
  transform: scale(0);
  transition: all ease 0.2s;
}
.product-info .select-section .select-box input:checked + label {
  border-color: rgb(61, 186, 78);
  background: rgb(247, 252, 248);
  color: rgb(71, 194, 87);
}
.product-info .select-section .select-box input:checked + label:after {
  transform: scale(1);
}
.product-info .select-section .select-box input:checked + label:before {
  border-color: rgb(61, 186, 78);
}

.icon-star {
  font-size: 12px;
}

.product-left-box {
  border: 1px solid rgb(232, 234, 237);
  border-radius: 12px;
  padding: 10px;
}
.product-left-box .price {
  border-radius: 12px;
  background: rgb(248, 249, 250);
  text-align: left;
  padding: 12px;
  position: relative;
}
.product-left-box .price h5 {
  font-size: 24px;
  font-weight: bold;
  color: #3e3e3e;
}
.product-left-box .price h5 em {
  font-size: var(--fontSize);
  color: rgb(152, 153, 154);
  font-weight: 100;
}
.product-left-box .price span {
  font-size: var(--fontSize);
  color: rgb(152, 153, 154);
  font-weight: 100;
  padding-left: 2.5rem;
}
.product-left-box .price .discount {
  position: absolute;
  background: rgb(242, 85, 85);
  border-radius: 4px;
  min-width: 30px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  top: 10px;
  right: 10px;
}
.product-left-box .label {
  padding: 5px 0;
  font-size: var(--fontSize);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-left-box .label i {
  margin-left: 8px;
  font-size: 19px;
  color: rgb(17, 32, 90);
}
.product-left-box .user-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(213, 215, 219);
  padding: 10px 0;
}
.product-left-box .user-info img {
  width: 50px;
  height: 50px;
}
.product-left-box .user-info .text {
  width: calc(100% - 130px);
  padding-right: 10px;
}
.product-left-box .user-info .text h5 {
  font-size: 16px;
  font-weight: bold;
  color: rgb(17, 32, 90);
}
.product-left-box .user-info .text .star-1 i {
  color: rgb(254, 188, 0);
}
.product-left-box .user-info .btn-show {
  width: 80px;
  font-size: 12px;
  border: 1px solid rgb(17, 32, 90);
  padding: 10px;
  color: rgb(17, 32, 90);
}
.product-left-box .options {
  padding: 15px 0;
}
.product-left-box .options li {
  padding: 7px 0;
  display: flex;
  align-items: center;
}
.product-left-box .options li i {
  color: rgb(17, 32, 90);
  margin-left: 5px;
}
.product-left-box .btn-phone {
  width: 100%;
  background: rgb(185, 149, 80);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.product-left-box .btn-phone i {
  margin-left: 10px;
}

.guid-box {
  background: rgb(248, 249, 250);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.guid-box img {
  width: 81px;
}
.guid-box .text {
  width: calc(100% - 81px);
  text-align: center;
}
.guid-box .text h5 {
  text-align: center;
  width: 100%;
  color: rgb(17, 32, 90);
  font-weight: bold;
  margin-bottom: 0;
}
.guid-box .text span {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 16px;
}
.guid-box .text .btn-support {
  background: rgb(17, 32, 90);
  padding: 7px;
  border-radius: 8px;
  color: #fff;
  margin-top: 5px;
}

.alert-box {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid rgb(242, 50, 63);
  background: rgb(252, 242, 242);
  border-radius: 12px;
}
.alert-box i {
  margin-left: 10px;
  font-size: 22px;
  color: rgb(242, 50, 63);
  margin-top: 4px;
}

.video-story-sec {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 0;
  background: rgb(248, 249, 250);
  border-radius: 12px;
  margin: 2rem 0;
}
.video-story-sec h4 {
  font-weight: bold;
  margin-left: 1.5rem;
  font-size: 16px;
  color: rgb(17, 32, 90);
}
.video-story-sec .video-story {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  margin-left: 12px;
  background: center/contain url("../images/oval.svg");
  padding: 5px;
  cursor: pointer;
}
.video-story-sec .video-story img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tabs-product {
  width: 100%;
  background: rgb(248, 249, 250);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 8px;
  min-height: 57px;
}
.tabs-product .tabs-div.fixed {
  position: fixed;
  top: 0;
  right: 10px;
  width: calc(100% - 20px);
  z-index: 2;
  background: white;
  padding: 10px;
}
.tabs-product span {
  padding: 10px;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  color: rgb(64, 65, 69);
}
.tabs-product span.active {
  background: rgb(17, 32, 90);
  border-radius: 8px;
  color: #fff;
  cursor: default;
}

.product-introduction {
  padding: 15px 0;
}
.product-introduction h2 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 900;
}
.product-introduction p, .product-introduction span {
  font-size: 16px;
  margin: 8px 0;
  line-height: 1.7;
}
.product-introduction span {
  color: rgb(61, 186, 78);
}

.comment-section {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  position: relative;
  align-items: flex-start;
}
.comment-section .star-span {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgb(64, 65, 69);
  margin: 15px 0 5px;
}
.comment-section .star-span i {
  color: rgb(254, 188, 0);
  margin-right: 5px;
  font-size: var(--fontSize);
  font-size: 18px;
}
.comment-section .right-comment {
  width: 280px;
  position: sticky;
  top: 10px;
  padding-left: 10px;
}
.comment-section .right-comment h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.comment-section .right-comment .product-name {
  width: 100%;
  display: block;
  color: rgb(96, 98, 102);
}
.comment-section .right-comment .count-customers {
  width: 100%;
  font-size: 12px;
  color: rgb(159, 161, 166);
}
.comment-section .right-comment .comment-ranges {
  width: 100%;
  padding-top: 15px;
}
.comment-section .right-comment .comment-ranges .range {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
}
.comment-section .right-comment .comment-ranges .range h6 {
  font-size: 12px;
  margin-bottom: 0;
}
.comment-section .right-comment .comment-ranges .range span {
  margin-right: auto;
  font-size: 12px;
  color: rgb(159, 161, 166);
}
.comment-section .right-comment .comment-ranges .range .progress-bar {
  width: 100%;
  background: rgb(248, 249, 250);
  height: 7px;
  border-radius: 4px;
  margin-top: 8px;
  position: relative;
}
.comment-section .right-comment .comment-ranges .range .progress-bar i {
  background: rgb(61, 186, 78);
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.comment-section .right-comment .btn-send-comment {
  width: 100%;
  border: 1px solid rgb(17, 32, 90);
  padding: 12px 16px;
  border-radius: 8px;
  color: rgb(17, 32, 90);
  margin-top: 25px;
  transition: all ease 0.4s;
}
.comment-section .right-comment .btn-send-comment:hover {
  background: rgba(17, 32, 90, 0.14);
}
.comment-section .main-comment {
  width: calc(100% - 280px);
  padding-right: 25px;
}
.comment-section .main-comment .comment-box {
  width: 100%;
  margin-bottom: 2rem;
}
.comment-section .main-comment .comment-box .titr-comment {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.comment-section .main-comment .comment-box .titr-comment .star-span {
  font-size: var(--fontSize);
}
.comment-section .main-comment .comment-box .titr-comment .profile-c {
  display: flex;
  margin-left: auto;
}
.comment-section .main-comment .comment-box .titr-comment .profile-c .profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.comment-section .main-comment .comment-box .titr-comment .profile-c .profile-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.comment-section .main-comment .comment-box .titr-comment .profile-c .profile-txt {
  padding-right: 10px;
}
.comment-section .main-comment .comment-box .titr-comment .profile-c .profile-txt h6 {
  font-size: var(--fontSize);
  color: rgb(20, 21, 24);
  font-weight: bold;
  margin-bottom: 0;
}
.comment-section .main-comment .comment-box .titr-comment .profile-c .profile-txt h6 button {
  background: rgb(243, 250, 252);
  font-size: 12px;
  color: rgb(16, 149, 190);
  border-radius: 4px;
  padding: 5px;
  border: none;
}
.comment-section .main-comment .comment-box .titr-comment .profile-c .profile-txt .date {
  color: rgb(126, 128, 133);
  font-size: 12px;
}
.comment-section .main-comment .comment-box .text-c {
  color: rgb(20, 21, 24);
  padding: 10px;
  width: 100%;
}
.comment-section .main-comment .comment-box .bottom-comment {
  display: flex;
  align-items: center;
}
.comment-section .main-comment .comment-box .bottom-comment .images {
  display: flex;
  align-items: center;
}
.comment-section .main-comment .comment-box .bottom-comment .images img {
  width: 59px;
  height: 59px;
  margin-left: 10px;
  border-radius: 8px;
}
.comment-section .main-comment .comment-box .bottom-comment .like-dislike {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.comment-section .main-comment .comment-box .bottom-comment .like-dislike button {
  border: 1px solid rgb(232, 234, 237);
  background: transparent;
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: rgb(96, 98, 102);
  font-family: dana, serif;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
.comment-section .main-comment .comment-box .bottom-comment .like-dislike button i {
  margin-right: 5px;
  color: rgb(37, 49, 76);
}

.faq-section {
  border-radius: 12px;
}
.faq-section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.faq-section .accordion-box {
  background: rgb(251, 252, 253);
  margin: 10px;
  padding: 10px;
}
.faq-section .accordion-box .title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.faq-section .accordion-box .title span {
  font-size: 16px;
  font-weight: 600;
}
.faq-section .accordion-box .title i {
  margin-right: auto;
  color: #14a5fa;
  font-size: 30px;
}
.faq-section .accordion-box .body-accordion {
  font-size: 16px;
  color: rgb(64, 65, 69);
  font-weight: 400;
  padding: 15px 0;
  display: none;
}
.faq-section .accordion-box.active .body-accordion {
  display: block;
}
.faq-section .accordion-box.active .title span {
  color: rgb(17, 32, 90);
}

.section-similar {
  padding: 2rem 0;
}
.section-similar .title .btn-all {
  margin-left: 105px;
}
.section-similar .owl-carousel .owl-nav.disabled {
  display: flex;
  position: absolute;
  left: 12px;
  top: -68px;
}
.section-similar .owl-carousel .owl-nav.disabled button {
  width: 43px;
  height: 43px;
  border-radius: 4px;
  border: 1px solid rgb(64, 65, 69);
  margin: 0 10px 0 0;
  font-size: 21px;
}
.section-similar .owl-carousel .owl-nav.disabled button span {
  display: none;
}
.section-similar .owl-carousel .owl-nav.disabled button:hover {
  background: transparent;
  color: #222;
}
.section-similar .owl-carousel .owl-nav.disabled button.owl-prev:before {
  content: "\e011";
  font-family: "Iconly" !important;
}
.section-similar .owl-carousel .owl-nav.disabled button.owl-next:before {
  content: "\e030";
  font-family: "Iconly" !important;
}

.bottom-price {
  display: none;
}

.modal-comment .modal-header {
  display: flex;
  align-items: center;
  border-bottom: none;
}
.modal-comment .modal-header h5 {
  color: rgb(20, 21, 24);
  font-size: 16px;
  font-weight: 500;
}
.modal-comment .modal-header .close {
  background: transparent;
  border: none;
  margin-right: auto;
}
.modal-comment .modal-header .close i {
  font-size: 13px;
}
.modal-comment .progress-select .line-pro {
  width: 100%;
  height: 7px;
  background: rgb(248, 249, 250);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 23%;
}
.modal-comment .progress-select .line-pro i {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: rgb(61, 186, 78);
  border-radius: 4px;
}
.modal-comment .progress-select .line-pro button {
  background: rgb(213, 215, 219);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  position: relative;
}
.modal-comment .progress-select .line-pro button.past {
  background: rgb(61, 186, 78);
}
.modal-comment .progress-select .line-pro button.now {
  width: 18px;
  height: 18px;
  border: none;
  background: rgb(61, 186, 78);
}
.modal-comment .progress-select .top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.modal-comment .progress-select .top h6 {
  margin-bottom: 0;
  margin-left: auto;
  font-size: 12px;
}
.modal-comment .progress-select .top span {
  font-size: 12px;
  color: rgb(159, 161, 166);
}
.modal-comment .form-comment .texterea {
  width: 100%;
}
.modal-comment .form-comment .texterea textarea {
  width: 100%;
  border: 1px solid rgb(232, 234, 237);
  font-size: 12px;
  border-radius: 8px;
  padding: 10px;
  min-height: 150px;
}
.modal-comment .form-comment .input {
  padding: 10px 0;
}
.modal-comment .form-comment .input input {
  border-radius: 8px;
  border: 1px solid rgb(232, 234, 237);
  width: 100%;
  padding: 10px;
  font-size: 12px;
  height: 48px;
}
.modal-comment .form-comment .image-box {
  padding: 10px 0;
}
.modal-comment .form-comment .image-box h6 {
  font-size: var(--fontsize);
  margin-top: 10px;
}
.modal-comment .form-comment .image-box .drag-drop-img {
  border-radius: 8px;
  background: rgb(248, 249, 250);
  padding: 10px;
  text-align: center;
}
.modal-comment .form-comment .image-box .drag-drop-img i {
  color: rgb(37, 49, 76);
}
.modal-comment .form-comment .image-box .drag-drop-img span {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: rgb(159, 161, 166);
  margin-top: 10px;
}
.modal-comment .btn-send {
  background: rgb(215, 181, 106);
  border-radius: 8px;
  color: #fff;
  padding: 10px 25px;
}
.modal-comment .modal-footer {
  border-top: none;
}

@media (max-width: 767px) {
  .owl-carousel .owl-nav.disabled {
    display: none !important;
  }
  .breadcrumb-custom ul {
    overflow: auto;
  }
  .breadcrumb-custom ul li span, .breadcrumb-custom ul li a {
    min-width: max-content;
    font-size: 10px;
    display: inline-block;
  }
  .images-section {
    padding: 15px 0;
  }
  .images-section .image img {
    max-height: 300px;
  }
  .images-section .owl-product-slider.owl-loaded .owl-nav {
    display: none;
  }
  .images-section .tags {
    display: none;
  }
  .images-section .btns-fav-share {
    justify-content: left;
  }
  .images-section .btns-fav-share button {
    font-size: 0;
  }
  .images-section .btns-fav-share button i {
    font-size: 24px;
    margin-left: 0;
  }
  .product-info {
    position: relative;
  }
  .product-info .tag {
    position: absolute;
    top: -55px;
    right: 0;
  }
  .product-info .product-title {
    margin-top: 0;
    font-size: 16px;
  }
  .product-info .box-time {
    width: 100%;
  }
  .product-left-box {
    padding: 0;
    border: none;
  }
  .guid-box .text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .guid-box .text h5, .guid-box .text span {
    width: calc(100% - 60px);
    text-align: right;
  }
  .video-story-sec {
    overflow: auto;
  }
  .video-story-sec h4 {
    display: none;
  }
  .video-story-sec .video-story {
    min-width: 60px;
    height: 60px;
  }
  .tabs-product span {
    padding: 10px 4px;
  }
  .product-introduction {
    position: relative;
  }
  .product-introduction > div {
    max-height: 231px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }
  .product-introduction.expand > div {
    max-height: none;
    overflow: auto;
    display: block;
  }
  .product-introduction .btn-show-more {
    color: rgb(15, 148, 242);
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    left: 0;
    background: #fff;
    padding: 0 15px;
  }
  .product-introduction h2 {
    font-size: 16px;
  }
  .product-introduction p {
    font-size: 13px;
  }
  .comment-section .right-comment {
    width: 100%;
    position: static;
    padding-left: 0;
  }
  .comment-section .main-comment {
    padding: 10px 0;
    width: 100%;
  }
  .comment-section .main-comment .comment-box {
    padding: 15px 0;
  }
  .comment-section .main-comment .comment-box .bottom-comment .images img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
  .faq-section .accordion-box {
    padding: 10px 0;
    width: 100%;
  }
  .faq-section .accordion-box .title span {
    font-size: 12px;
  }
  .faq-section .accordion-box .title i {
    font-size: 20px;
  }
  .faq-section .accordion-box .body-accordion {
    font-size: 12px;
  }
  .section-similar .title h2 {
    font-size: 14px;
  }
  .section-similar .title .btn-all {
    margin-left: 0;
    padding: 10px 5px;
  }
  .bottom-price {
    padding: 0 10px;
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: 90px;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    align-items: center;
    z-index: 2;
    justify-content: left;
  }
  .bottom-price .btn-phone {
    margin-left: auto;
    background: rgb(185, 149, 80);
    display: flex;
    align-items: center;
    color: #fff;
    padding: 12px 16px;
    font-size: 14px;
  }
  .bottom-price .btn-phone i {
    margin-left: 6px;
  }
  .bottom-price .price {
    border-radius: 12px;
    text-align: left;
    padding: 12px;
    position: relative;
  }
  .bottom-price .price h5 {
    font-size: 24px;
    font-weight: bold;
    color: #3e3e3e;
  }
  .bottom-price .price h5 em {
    font-size: var(--fontSize);
    color: rgb(152, 153, 154);
    font-weight: 100;
  }
  .bottom-price .price span {
    font-size: var(--fontSize);
    color: rgb(152, 153, 154);
    font-weight: 100;
    padding-left: 2.5rem;
  }
  .bottom-price .price .discount {
    position: absolute;
    background: rgb(242, 85, 85);
    border-radius: 4px;
    min-width: 30px;
    height: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    bottom: 10px;
    left: 10px;
  }
  .modal-comment {
    height: 100vh;
  }
  .modal-comment .modal-dialog {
    max-height: calc(100vh - 40px);
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
    overflow: auto;
  }
}

/*# sourceMappingURL=product.css.map */
