@import "bootstrap.min.css";
@import '../webfonts/iconly/iconly.min.css';
@import "header.css";
:root {
  --fontSize: 14px;
}

body {
  direction: rtl;
  font-size: var(--fontSize);
  font-family: dana, serif;
  color: #3e3e3e;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.btn {
  font-size: var(--fontSize);
}

em, i {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1281px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  :root {
    --fontSize: 12px;
  }
}
:root {
  --fontSize: 14px;
}

body {
  direction: rtl;
  font-size: var(--fontSize);
  font-family: dana, serif;
  color: #3e3e3e;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.btn {
  font-size: var(--fontSize);
}

em, i {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1281px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  :root {
    --fontSize: 12px;
  }
}
.breadcrumb-custom ul {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 28px;
}
.breadcrumb-custom ul li {
  padding: 10px 6px;
}
.breadcrumb-custom ul li span {
  color: rgb(159, 161, 166);
  display: flex;
  align-items: center;
}
.breadcrumb-custom ul li span:after {
  content: "\e01e";
  font-family: "Iconly" !important;
  margin-right: 8px;
  font-size: 10px;
}
.breadcrumb-custom ul li a {
  color: #3e3e3e;
}

.card-product {
  padding: 5px;
  border: 1px solid rgb(232, 234, 237);
  direction: rtl;
}
.card-product img {
  max-width: 100%;
}
.card-product .card-body {
  padding: 10px 5px;
}
.card-product .card-body p {
  display: flex;
  align-items: center;
  color: rgb(156, 156, 171) !important;
  padding: 5px 0;
  font-size: 12px;
}
.card-product .card-body p i {
  font-size: 16px;
  color: rgb(126, 128, 133);
}
.card-product .card-body span.city {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.card-product .card-body span.city i {
  margin-left: 5px;
  font-size: 14px;
  color: rgb(55, 205, 250);
}
.card-product .card-body .star-span {
  display: flex;
  align-items: center;
  direction: ltr;
  font-size: 12px;
  color: rgb(64, 65, 69);
}
.card-product .card-body .star-span i {
  color: rgb(254, 188, 0);
  margin-right: 5px;
  font-size: var(--fontSize);
}
.card-product .price {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.card-product .price span {
  text-align: left;
  font-size: 12px;
  color: rgb(152, 153, 154);
}
.card-product .price span em {
  font-weight: 400;
  color: rgb(156, 156, 171);
}
.card-product .price .price-main {
  font-size: var(--fontSize);
  color: rgb(12, 13, 13);
  padding-top: 5px;
}
.card-product .price .price-main em {
  font-weight: 400;
  color: rgb(156, 156, 171);
}
.card-product .price .precent {
  background: rgb(242, 85, 85);
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
}

.check-box label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.check-box label:before {
  content: "";
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid rgb(217, 218, 219);
}
.check-box label:after {
  content: "\e044";
  font-family: Iconly;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #b99550;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all ease 0.4s;
}
.check-box input {
  display: none;
}
.check-box input:checked + label:after {
  transform: scale(1);
}

.dark-bg {
  backdrop-filter: blur(8px);
  background: rgba(26, 32, 44, 0.36);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

.modal-responsive {
  display: none;
}

.icon-filter {
  display: none;
}

@media (max-width: 767px) {
  .icon-filter {
    display: inline-block;
  }
  .modal-responsive {
    display: block;
  }
  .breadcrumb-custom ul {
    margin: 10px 0;
  }
  body {
    overflow-x: hidden;
  }
  .card-product .card-body {
    padding: 10px 5px;
  }
  .card-product .card-body p {
    font-size: 10px;
  }
  .card-product .card-body .card-title {
    font-size: 12px;
  }
  .filter-responsive {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }
  .filter-responsive span {
    margin-right: auto;
    font-size: 12px;
    color: rgb(159, 161, 166);
  }
  .filter-responsive button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 24px;
  }
  .filter-responsive button i {
    font-size: 15px;
    margin-left: 8px;
  }
  .modal-responsive {
    display: block;
    position: fixed;
    bottom: -120%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 4;
    transition: all ease 0.2s;
    height: 100%;
    border-radius: 16px 16px 0 0;
    max-height: calc(100vh - 90px);
    overflow: auto;
  }
  .modal-responsive.height-content {
    height: max-content;
    padding-bottom: 2rem;
  }
  .modal-responsive.active {
    bottom: 90px;
  }
  .modal-responsive .title {
    display: flex;
    align-items: center;
    padding: 24px 16px;
  }
  .modal-responsive .title span {
    font-size: 16px;
    color: rgb(20, 21, 24);
    margin-left: auto;
  }
  .modal-responsive .title .icon-cancel {
    width: 30px;
    color: rgb(37, 49, 76);
    text-align: left;
    cursor: pointer;
    font-size: 14px;
  }
  .modal-responsive ul {
    padding: 0 16px;
  }
  .modal-responsive ul li button {
    background: transparent;
    padding: 16px 0;
    width: 100%;
    border: none;
    text-align: right;
    font-size: 14px;
    color: rgb(96, 98, 102);
  }
  .modal-responsive .list-menu {
    max-height: calc(100vh - 183px);
    overflow: auto;
  }
  .modal-responsive .list-menu li {
    padding: 20px 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(232, 234, 237);
  }
  .modal-responsive .list-menu li:last-child {
    border-bottom: none;
  }
  .modal-responsive .list-menu li span {
    font-size: 14px;
    color: rgb(20, 21, 24);
  }
  .modal-responsive .list-menu li i {
    margin-right: auto;
    font-size: 10px;
  }
  .modal-responsive .title-cat {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .modal-responsive .title-cat span {
    font-size: 16px;
    color: rgb(20, 21, 24);
    margin-left: auto;
  }
  .modal-responsive .title-cat i {
    cursor: pointer;
    font-size: 14px;
  }
  .modal-responsive .title-cat .icon-cancel {
    width: 30px;
    color: red;
    font-size: 20px;
    text-align: left;
  }
  .modal-responsive .title-cat .input-search {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 30px);
    background: rgb(248, 249, 250);
    height: 48px;
    border-radius: 8px;
  }
  .modal-responsive .title-cat .input-search i {
    font-size: 19px;
    margin-right: 10px;
  }
  .modal-responsive .title-cat .input-search input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    background: transparent;
    color: rgb(186, 189, 194);
  }
  .modal-responsive .list-category {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 170px);
    overflow: auto;
    overflow-x: hidden;
  }
  .modal-responsive .list-category .right-cat {
    width: 100px;
    background: #f8f9fa;
  }
  .modal-responsive .list-category .right-cat .category-item {
    width: 100%;
    padding: 10px 0;
    color: rgb(17, 32, 90);
    text-align: center;
    border: 1px solid rgb(232, 234, 237);
  }
  .modal-responsive .list-category .right-cat .category-item.active {
    background: rgb(255, 255, 255);
    color: rgb(22, 123, 255);
    border-left: none;
  }
  .modal-responsive .list-category .right-cat .category-item i {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .modal-responsive .list-category .right-cat .category-item span {
    display: block;
    text-align: center;
  }
  .modal-responsive .list-category .left-cat {
    background: #fff;
    width: calc(100% - 100px);
    height: 100%;
    padding: 10px;
  }
  .modal-responsive .list-category .left-cat .item-cat {
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
  }
  .modal-responsive .list-category .left-cat .item-cat .img {
    background: rgb(248, 249, 250);
    padding: 5px;
    width: 76px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-responsive .list-category .left-cat .item-cat .img img, .modal-responsive .list-category .left-cat .item-cat .img i {
    font-size: 35px;
    width: 100%;
    object-fit: cover;
    color: #25314c;
  }
  .modal-responsive .list-category .left-cat .item-cat span {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 10px;
    margin-top: 5px;
  }
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Bold.eot");
  src: url("../fonts/Dana/Dana-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Bold.woff2") format("woff2"), url("../fonts/Dana/Dana-Bold.woff") format("woff"), url("../fonts/Dana/Dana-Bold.ttf") format("truetype"), url("../fonts/Dana/Dana-Bold.svg#YDana-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Regular.eot");
  src: url("../fonts/Dana/Dana-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Regular.woff2") format("woff2"), url("../fonts/Dana/Dana-Regular.woff") format("woff"), url("../fonts/Dana/Dana-Regular.ttf") format("truetype"), url("../fonts/Dana/Dana-Regular.svg#Dana-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/Dana-Light.ttf");
  src: url("../fonts/Dana/Dana-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Dana/Dana-Light.woff2") format("woff2"), url("../fonts/Dana/Dana-Light.woff") format("woff"), url("../fonts/Dana/Dana-Light.ttf") format("truetype"), url("../fonts/Dana/Dana-Light.svg#Dana-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.footer {
  background: rgb(248, 249, 250);
  padding: 10px 0 2rem;
}
.footer .top-footer {
  padding: 3rem 0;
}
.footer .top-footer .box-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
}
.footer .top-footer .box-footer img {
  margin-left: 5px;
  max-width: 46px;
}
.footer .top-footer .box-footer h4 {
  font-size: 16px;
  font-weight: 900;
}
.footer .top-footer .box-footer span {
  font-size: var(--fontSize);
  color: rgb(96, 98, 102);
}
.footer .menu-foo {
  padding: 10px 0;
}
.footer .menu-foo img {
  margin-left: 15px;
}
.footer .menu-foo h5 {
  font-size: 18px;
  color: #3e3e3e;
  font-weight: bold;
}
.footer .menu-foo h5 i {
  display: none;
}
.footer .menu-foo ul a {
  padding: 8px 0;
  color: rgb(113, 113, 132);
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}
.footer .menu-footer-text {
  width: calc(12.5% - 10px);
  background: #fff;
  padding: 13px 7px;
  border-radius: 12px;
  text-align: center;
  margin: 10px 0 10px 10px;
}
.footer .menu-footer-text span, .footer .menu-footer-text a {
  color: #3e3e3e;
  font-size: 13px;
}
.footer .copy-right {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}
.footer .copy-right span {
  font-size: var(--fontSize);
  color: rgb(113, 113, 132);
}
.footer .copy-right .social {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.footer .copy-right .social h6 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: var(--fontSize);
}
.footer .copy-right .social a {
  font-size: 16px;
  color: #3e3e3e;
  display: inline-block;
  margin-right: 15px;
}

.bottom-menu {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: 90px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  display: none;
  align-items: center;
  z-index: 4;
}
.bottom-menu a, .bottom-menu button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(186, 189, 194);
  width: 25%;
  background: transparent;
  border: none;
}
.bottom-menu a span, .bottom-menu button span {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.bottom-menu a i, .bottom-menu button i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bottom-menu a.active, .bottom-menu button.active {
  color: rgb(17, 32, 90);
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 4rem;
  }
  .footer .top-footer {
    order: 1;
  }
  .footer .top-footer .box-footer {
    margin: 10px 0;
    width: 50%;
    padding: 5px;
  }
  .footer .menu1 {
    order: 2;
  }
  .footer .copy-right {
    order: 3;
    flex-wrap: wrap;
  }
  .footer .copy-right .social {
    width: 100%;
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .copy-right .social h6 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer .copy-right span {
    order: 2;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .footer .tags {
    order: 4;
    margin: 0;
    max-height: 163px;
    overflow: hidden;
    position: relative;
  }
  .footer .tags .menu-footer-text {
    width: calc(25% - 10px);
  }
  .footer .tags .menu-footer-text span {
    font-size: 10px;
  }
  .footer .tags .div-more {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 249, 250, 0) -110.14%, #F8F9FA 100%);
    align-items: flex-end;
  }
  .footer .tags .div-more button {
    color: rgb(15, 148, 242);
  }
  .footer .tags.expand {
    max-height: none;
  }
  .footer .tags.expand .div-more {
    display: none;
  }
  .footer .menu-foo {
    padding: 10px 25px;
  }
  .footer .menu-foo h5 {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .footer .menu-foo h5 i {
    margin-right: auto;
    display: inline-block;
  }
  .bottom-menu {
    display: flex;
  }
}
.section1 .right-box .icon {
  border-radius: 8px;
  background: #E7F6FF;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(20, 165, 250);
  font-size: 28px;
  margin-bottom: 20px;
}
.section1 .right-box h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
  color: rgb(17, 32, 90);
  margin: 0 0 16px;
}
.section1 .right-box h2 em {
  color: #B99550;
}
.section1 .right-box span {
  color: rgb(96, 98, 102);
  font-size: 16px;
  display: block;
  width: 100%;
}
.section1 .right-box button {
  display: flex;
  width: 165px;
  height: 56px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: #B99550;
  margin-top: 40px;
  font-size: 16px;
  color: #fff;
  transition: all ease 0.4s;
}
.section1 .right-box button:hover {
  opacity: 0.7;
}
.section1 .left-box img {
  width: 100%;
}

.title h2 {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  color: rgb(17, 32, 90);
  margin-bottom: 24px;
}
.title h2 i {
  margin-left: 10px;
  color: rgb(11, 147, 226);
}

.section2 .box-benefit h5 {
  color: #141518;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
.section2 .box-benefit .icon {
  width: 100%;
  height: 196px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #F9FAFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .box-benefit .icon i {
  font-size: 54px;
  color: rgb(37, 49, 76);
}

.section3 {
  margin: 80px 0;
}
.section3 .image {
  border-radius: 20px;
  max-width: 100%;
}
.section3 .list-box {
  width: 100%;
  border-radius: 8px;
  background: #F8F9FA;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  margin: 20px 0;
}
.section3 .list-box .number {
  color: rgb(13, 145, 221);
  font-size: 20px;
}
.section3 .list-box .icon {
  font-size: 40px;
  color: rgb(17, 32, 90);
  margin: 0 20px;
}
.section3 .list-box .txt h4 {
  font-size: 18px;
  color: rgb(44, 45, 48);
  font-weight: 900;
}
.section3 .list-box .txt span {
  color: rgb(126, 128, 133);
  font-size: 14px;
}

.section-faq .faq-section {
  border-radius: 12px;
}
.section-faq .faq-section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section-faq .faq-section .accordion-box {
  background: rgb(251, 252, 253);
  margin: 10px;
  padding: 10px;
}
.section-faq .faq-section .accordion-box .title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section-faq .faq-section .accordion-box .title span {
  font-size: 16px;
  font-weight: 600;
}
.section-faq .faq-section .accordion-box .title i {
  margin-right: auto;
  color: #14a5fa;
  font-size: 30px;
}
.section-faq .faq-section .accordion-box .body-accordion {
  font-size: 16px;
  color: rgb(64, 65, 69);
  font-weight: 400;
  padding: 15px 0;
  display: none;
}
.section-faq .faq-section .accordion-box.active .body-accordion {
  display: block;
}
.section-faq .faq-section .accordion-box.active .title span {
  color: rgb(17, 32, 90);
}
.section-faq .image {
  max-width: 100%;
}

.section-form {
  margin-top: 90px;
  border-radius: 20px;
  background: #FBFEFE;
  padding: 25px 30px;
}
.section-form .image {
  max-width: 100%;
  border-radius: 20px 0 0 20px;
}
.section-form .title {
  margin-bottom: 38px;
}
.section-form .title h2 {
  margin-bottom: 8px;
}
.section-form .title span {
  color: rgb(17, 32, 90);
  font-size: 15px;
}
.section-form .form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
}
.section-form .form .input-box {
  margin: 12px 0;
}
.section-form .form .input-box label {
  margin-bottom: 8px;
  color: #42424D;
}
.section-form .form .input-box .input {
  border-radius: 8px;
  border: 1px solid var(--Neutral-200, #E3E3E8);
  background: #FDFDFE;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.section-form .form .input-box .input i {
  color: rgb(37, 49, 76);
  font-size: 20px;
}
.section-form .form .input-box .input select {
  cursor: pointer;
}
.section-form .form .input-box .input input, .section-form .form .input-box .input select {
  width: 100%;
  background: transparent;
  border: none;
  height: 100%;
  padding-right: 16px;
  color: #717184;
}
.section-form .form .input-box.two-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-form .form .input-box.two-input .input {
  width: 48%;
  padding: 5px;
}
.section-form .form .btn-submit {
  display: flex;
  width: 183px;
  height: 56px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgb(17, 32, 90);
  color: #fff;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  transition: all ease 0.4s;
}
.section-form .form .btn-submit:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .seller-main .title h2 {
    font-size: 14px;
  }
  .seller-main .title h2 i {
    font-size: 16px;
  }
  .seller-main .section1 .right-box h2 {
    font-size: 24px;
  }
  .seller-main .section1 .right-box span {
    font-size: 14px;
  }
  .seller-main .section1 .right-box button {
    font-size: 14px;
    width: 126px;
    height: 48px;
    margin-top: 24px;
  }
  .seller-main .section1 .left-box {
    width: 100%;
    padding: 24px 16px;
  }
  .seller-main .section2 .box-benefit h5 {
    font-size: 10px;
  }
  .seller-main .section2 .box-benefit .icon {
    height: 114px;
  }
  .seller-main .section2 .box-benefit .icon i {
    font-size: 35px;
  }
  .seller-main .section3 .list-box .icon {
    font-size: 30px;
  }
  .seller-main .section3 .list-box .txt span {
    font-size: 12px;
  }
  .seller-main .section3 .list-box .txt h4 {
    font-size: 16px;
  }
  .seller-main .section-faq .faq-section .accordion-box .body-accordion {
    font-size: 12px;
  }
  .seller-main .section-faq .faq-section .accordion-box .title i {
    font-size: 20px;
  }
  .seller-main .section-faq .faq-section .accordion-box .title span {
    font-size: 12px;
  }
  .seller-main .section-form {
    padding: 10px;
    margin-bottom: 2rem;
  }
  .seller-main .section-form .title span {
    font-size: 12px;
  }
  .seller-main .section-form .form {
    padding-left: 0;
  }
  .seller-main .section-form .form .btn-submit {
    width: 100%;
  }
}

/*# sourceMappingURL=seller.css.map */
