$color1 : rgba(17, 32, 90, 1);
$color3 : #D7B56A;
$blackColor: #3e3e3e;
:root {
  --fontSize: 14px;
}

body {
  direction: rtl;
  font-size: var(--fontSize);
  font-family: dana, serif;
  color: $blackColor;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.btn {
  font-size: var(--fontSize);

}

em, i {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

input {
  &:focus {
    outline: none;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1281px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  :root {
    --fontSize: 12px;
  }
}



